.treeNodeUnselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
}

.file-name {
    color: "#696969";
    font-size: 14;
    font-weight: 200;
}